*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

.header{
    background-color:#2c2c2c;
    width: 100%;
    height: 50px;
    border-bottom: solid rgb(87, 19, 75) 4px;
}

.header h1{
    float: left;
    color: white;
}

.header ul{
    list-style: none;
    float: right;
}

.header h1, .header ul{
    margin-top: 5px;
}

.header li{
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 5px;
    background-color:rgb(87, 19, 75) 3px;
}

.header ul li a{
    text-decoration: none;
    color: white;
}


.input_busca {
    border-radius: 30px;
    width: 250px;
    height: 25px;
}

.banner {
    width: 100%;
    height: 480px;
    float: left;
}

.img_produtor {
    width: 49.8%;
    float: left;
}

.img_amante_vinho {
    width: 49.8%;
    float: right;
}

.logo {
    height:110px;
    float: left;
    margin-right: 14px;
}

.apresentacao {
    float: left;
    margin-top: 20px;
}

.paragrafo_apres {
    margin-top: 15px;
}

.paragrafo_apres a {
    text-decoration: none;
    color: #2c2c2c;
}

.div_listas {
    width: 100%;
    margin-top: 20px;
    float: left;
}

.lista_produtores {
    width: 230px;
    height: 100px;
    background-color: #9791914d;
    float: left;
    padding: 10px;
    margin: 30px;
}

.lista_produtores ul, .vinhos_avaliados ul {
    list-style: none;
}

.vinhos_avaliados {
    width: 230px;
    height: 100px;
    background-color: #9791914d;
    float: left;
    padding: 10px;
    margin: 30px;
}

.footer{
    border-top: solid rgb(87, 19, 75) 4px;
    background-color: #2c2c2c;
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
}

.div_footer {
    float: left;
    
    border-radius: 5px;
    margin: auto;
    width: 250px;
    height: 45px;
    padding: 5px;
}

.style_footer{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 8px;
}

.icones_footer{
    height: 45px;
    float: left;
    margin-right: 10px;
}

.div_footer_email{
    float: left;

    border-radius: 5px;
    margin: auto;
    width: 300px;
    height: 45px;
    padding: 5px;
}